@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: white;
    padding: 0 15vw;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.hero {
    height: 50vh;
    min-height: fit-content;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.hero-desc {
    width: 60%;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

a,
.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

button {
    border-style: solid;
    border-radius: 10px;
    padding: 8px 32px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #3882f6;
    margin-top: 8px;
}

.hero-img {
    max-width: min(50%, 660px);
    height: auto;
    margin: 0 auto;
}

.info {
    padding: 16px 15vw;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-cards {
    gap: 52px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    color: #6d7580;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: fit-content;
}

.card-img {
    border: 4px solid #3882f6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.caption {
    contain: inline-size;
}

.quote {
    background-color: #e5e7eb;
    padding: 16px 22vw;
    min-height: 40vh;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.action
 {
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 32px 5vw;
    margin: 100px 15vw;
    gap: 8px;
}

.author {
    align-self: flex-end;
}

.author,
.action-main {
    font-size: 24px;
    font-weight: 900;
}

.action-sub {
    font-size: 18px;
    font-weight: 300;
}

.action button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    flex-shrink: 0;
}

.footer {
    height: 100px;
    justify-content: center;
    align-items: center;
}